.form {
  margin: 1em 0.5em;
  display: flex;
  flex-grow: 1;
}
.form div {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
textarea, iframe {
  border: 1px solid grey;
  border-radius: 3px;
  padding: 0.5em;
  margin: 0;
  flex-grow: 1;
}
html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
